<div class="login-container">
<h1 class="text-primary">Log in to see games</h1>
  <div id="login-form" >
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username, placeholder: "DannyBoy" %>
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "********" %>
      <%= f.submit "Login" %>
    <% end %>
  </div>
  <%= link_to 'Need to register?', signup_path %>
</div>
