<div>
  <div class="search-bar">
  	<%= form_tag(mechanics_path, :method => "get", id: "search-form") do %>
  	<%= text_field_tag :search, params[:search], placeholder: "Find Game Mechanics!" %>
  	<%= submit_tag "Search", :name => nil %>
  	<% end %>
  </div>

  <h1 class="heading">Mechanics</h1>
  <ul id="mechanic-ul">
  	<% @mechanics.each do |mechanic| %>
  	<li id="mechanic-item"><%= link_to "#{mechanic.description}", mechanic_path(mechanic) %></li>
  	<% end %>
    <div class="paginate" id="mechanic-paginate"><%= paginate @mechanics %></div>
  </ul>
</div>

