<div>
  <h1>Games!</h1>
  <table id="games-index">
    <tr>
	    <th></th>
      <th>Name</th>
      <th>Avg. Rating</th>
    </tr>
    <% @games.each do |game| %>
      <tr>
      <!-- <span class='glyphicon glyphicon-star'></span> -->
        <% if game.owners.include?(current_user) %>
          <td><%= link_to "&#9733".html_safe, game_purchase_path(game, game.purchases.find_by(owner_id: current_user.id)), method: :delete %></td>
        <% else %>
          <td><%= link_to "&#9734".html_safe, game_purchases_path(game), method: :post %></td>
        <% end %>
        <td><a href="/games/<%= game.id %>"><%= game.name %></a></td>
        <td><%= game.avg_user_rating %></td>
      </tr>
    <% end %>
  </table>
</div>


