<div class="container">
  <div>
    <h1><%= @game.name %></h1>
    <br>
    <h2>Description:</h2>
    <h3><%= @game.description %></h3>
    <br>
    <h2>Mechanics:</h2>
      <% @game.mechanics.each do |mechanic| %>
    <h4> <%=link_to "#{mechanic.description}", mechanic_path(mechanic)%> </h4>
      <% end %>
  </div>
  <br>
   <div>
    <h3>Friends who own this game:</h3>
    <% @user.friendships.each do |friend| %>
      <% if friend.owned_games.include(@game) %>
      <%= friend.username %>
      <%end%>
    <%end%>
  </div>
  <br>
  <div>
    <h3>Community score:</h3><%= @game.avg_user_rating %>
  </div>

  <br>
  <div>
    <h2>REVIEWS!</h2>
    <% @game.ratings.each do |rating| %>
      <div>
        <br>
      <%= rating.stars %>
      <br>
      <%= rating.comment %>
    </div>
    <%end%>
  </div>
</div>
