<div class="container">
  <div id="game-name">
    <h1><%= @game.name %>
    <% if current_user.is_owner?(@game) %> <i id="gold_star" class="fa fa-star fa-5x"></i> <% end %></h1>
    <h2>Description:</h2>
    <h3><%= @game.description %></h3>
  </div>
  <div id="picture">
  <img src= <%=@game.get_img_file%>>
    <div id="scores">


    <h3>Community Score: <%= stars_to_s(@game.avg_user_rating).html_safe %></h3>
    <% if current_user != nil %>
    <h3>Friend Score: <%=stars_to_s(current_user.get_friend_avg(@game)).html_safe  %></h3>
    <% end %>
  </div>

  </div>
  <div id="mechanics">
    <h2>Mechanics:</h2>
      <% @game.mechanics.each do |mechanic| %>
    <h4> <%=link_to "#{mechanic.description}", mechanic_path(mechanic)%> </h4>
      <% end %>
  </div>

  <br>
   <div id="owner-friends">
    <h3>Friends Who Own This Game:</h3>
    <% if current_user %>
      <% current_user.confirmed_friendships.each do |friendship| %>
        <% if friendship.receiver.owned_games.include?(@game) %>
         <%= friendship.receiver.username %>
        <%end%>
      <%end%>
    <% else %>
      <h3>Login to view friends who own this game!</h3>
    <% end %>
  </div>
  <br>


  <br>
  <div id="review-container">
    <h2>REVIEWS!</h2>
    <% @game.ratings.each do |rating| %>
      <% author = rating.get_author%>
      <div class="review">
       <h4 class="rating-stars">Rating: <%= stars_to_s(rating.stars).html_safe %></h4>
        <h3>Review: <%= rating.comment %></h3>
        <h4>Author: <%= author.username %> <% if author.is_owner?(@game) %> <i class="fa fa-star fa-2x fa-spin"></i> <% end %> </h4>
      </div>

    <%end%>
  </div>
  <% if current_user != nil  %>
  <div id="review-form">
    <%=form_for [@game, @rating] do |f|  %>
    <%=f.label :stars  %>
    <%=f.select :stars, (0..5) %><br>

    <%=f.label :comment  %>
    <%=f.text_field :comment  %><br>
    <%=f.submit %>
    <% end %>
  </div>
  <% end %>
</div>
